*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product__list {
  font-size: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-right: 2rem;
}

.product-item {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding-bottom: 1rem;
}

.product-item img {
  width: 100%;
  object-fit: cover;
}

.product-item img:hover {
  transform: scale(0.98);
}

.product-item h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.product-item h3 {
  color: chocolate;
  text-align: center;
  margin: 0;
}

.product-item p:first-of-type {
  text-align: center;
  color: red;
  font-weight: 600;
  margin-bottom: 0;
}

.product-item__content {
  padding: 1rem;
  text-align: center;
  padding-top: 0;
}

li {
  margin: 0;
}

button {
  background: dodgerblue;
  color: white;
  border: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font: inherit;
  cursor: pointer;
  outline: 0;
  margin-top: 0.5rem;
  font-size: 10px;
  font-weight: 600;
}

button:hover,
button:active {
  background-color: white;
  color: dodgerblue;
}

button:last-of-type {
  background-color: white;
  color: red;
}

button:last-of-type:hover,
button:last-of-type:active:hover {
  background-color: red;
  color: white;
}

.cart {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cart i {
  color: teal;
  text-decoration-line: none;
}

.cart span {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: #333;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
  margin-left: 0.3rem;
  color: white;
}

#logo {
  width: 120px;
  margin-left: 2rem;
}

#viewcart {
  margin-right: 2rem;
}

#delete_product {
  color: red;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
